@model ToDoList.Model.Tarefa

<h2>Detalhes</h2>

<div>
    <h4>Tarefa</h4>
    <hr/>
    <dl class="dl-horizontal">
        <dt>@Html.DisplayNameFor(x => x.Id)</dt>
        <dd>@Html.DisplayFor(x => x.Id)</dd>

        <dt>@Html.DisplayNameFor(x => x.Descricao)</dt>
        <dd>@Html.DisplayFor(x => x.Descricao)</dd>

        <dt>@Html.DisplayNameFor(x => x.DataTerminoPlanejado)</dt>
        <dd>@Html.DisplayFor(x => x.DataTerminoPlanejado)</dd>

        <dt>@Html.DisplayNameFor(x => x.DataTerminoEfetivo)</dt>
        <dd>@Html.DisplayFor(x => x.DataTerminoEfetivo)</dd>

        <dt>@Html.DisplayNameFor(x => x.DataCadastro)</dt>
        <dd>@Html.DisplayFor(x => x.DataCadastro)</dd>
    </dl>
    @if (Model.Interessados != null && Model.Interessados.Any())
    {
        <h4>Interessados</h4>
        <dl class="dl-horizontal">
            @foreach (var item in Model.Interessados)
            {
                <dt>@Html.DisplayNameFor(x => item.Nome)/@Html.DisplayNameFor(x => item.Email)</dt>
                <dd>@Html.DisplayFor(x => item.Nome) - @Html.DisplayFor(x => item.Email)</dd>
            }
        </dl>
    }
</div>
<div>
    @if (!Model.DataTerminoEfetivo.HasValue)
    {
        <a asp-action="Edit" asp-route-id="@Model.Id">Editar</a><span> | </span>
    }
    <a asp-action="Index">Voltar</a>
</div>